body{
    background:#eaeaea;
    font-family:Arial;
}

.box{
    width:80%;
    max-width:500px;
    background:white;
    padding:40px;
    margin:80px auto;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h1{
    margin-bottom:30px;
}

input{
    width:100%;
    padding:18px;
    font-size:20px;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:18px;
    background:orangered;
    color:white;
    border:none;
    border-radius:10px;
    font-size:22px;
}
