body{
    background:#eaeaea;
    font-family:Arial;
    margin:0;
    padding:0;
}

.box{
    width:90%;
    max-width:650px;
    background:white;
    padding:60px;
    margin:80px auto;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h1{
    font-size:55px;   /* judul lebih besar */
    margin-bottom:40px;
}

input{
    width:100%;
    padding:25px;
    font-size:28px;   /* tulisan input lebih besar */
    border-radius:12px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:25px;
    background:blue;   /* ganti oren jadi biru */
    color:white;
    border:none;
    border-radius:12px;
    font-size:30px;   /* tulisan tombol lebih besar */
    font-weight:bold;
}

p{
    font-size:24px;
}

a{
    color:blue;   /* link login/daftar jadi biru */
}
